* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, sans-serif;
}

*::selection {
    background-color: rgb(125, 0, 197);
    color: #fff;
}

body {
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.headerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 83vh;
    background: linear-gradient(
        180deg
        ,rgb(20,37,133), #00d6cf);
    background-attachment: fixed;
    color: #fff;
    /* color: #142585; */
}

.clinic_Middle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
    margin-bottom: 30px;
}

.clinic_Middle h2 {
    font-size: 35px;
    font-weight: bold;
    /* color: rgb(20,37,133); */
    color: #fff;
    margin-top: 100px;
}

.contentSpan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin: 25px 0;
}

.clinic_Envelope {
    position: relative;
    padding: 10px 35px;
    background-color: rgb(20,37,133);
    display: flex;
    align-items: center;
    justify-content: center;
}


.clinic_Envelope h3 {
    margin: 0;
    font-size: 22px;
    color: #fff;
}

.degree {
    color: rgb(20,37,133);
    font-size: 85px;
    margin-top: 1px;
}


.search_Form {
    width: 600px;
    margin-top: 0 40px;
    padding: 0 20px;
    border: 2px solid rgb(20,37,133);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;

}

.search_Form input {
    width: 100%;
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

.searchButton::placeholder {
    color: #fff;
    font-size: 17px;
}

.search_Form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search_Form button i {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
}


.certificate {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    cursor: pointer;
    margin-top: 100px;
}

.certificate:hover {
    text-decoration: underline 2px solid #fff;
}

.fa-file-certificate {
    font-size: 30px;
}

.sectionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.section {
    width: 100%;
    padding: 0;
    /* box-shadow: 0 0 30px rgb(204, 204, 204); */
    /* margin-top: -50px; */
    z-index: 50;
    background-color: #fff;
    /* border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; */


    margin: -60px 0 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 270px;
    height: 300px;
    margin: 20px 0;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.rowGreen {
    padding: 0 15px;
}

.card:hover {
    background-color: rgba(224, 224, 224, 0.781);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.card-direction {
    border-left: 7px solid red !important;
}

.popularSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondType {
    height: 195px;
}

.popularText {
    text-align: center;
    margin: 27px 0;
    font-size: 35px;
    font-weight: 450;
}

.card-body {
    padding: 20px;
    text-overflow: ellipsis;
}


.card-body a {
    color: #333;
    text-decoration: none;
}

.card-body p {
    font-size: 14px;
    margin-top: 10px;
}

.nameToConrent {
    font-size: 19px;
    font-weight: 500;
}

.textC1 {
    font-size: 13px;
}

.card-body a:hover {
    text-decoration: underline;
    color: #333;
}

.card-body ul {
    margin: 15px 0 15px 30px;
}

.card-body ul li {
    font-size: 14px;
    line-height: 19px;
}

.textIll {
    font-size: 14px;
}

.ill_Name_Menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Ba_Img {
    
    width: 300px;
    position: absolute;
    left: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.Ba_Img2 {
    
    width: 300px;
    position: absolute;
    right: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.ill_Name_Menu .fa-bars {
    display: none;
}

.fa-star {
    font-size: 22px;
    color: #ffbb23;
}

.humburger_Nav {
    display: none;
}

.popularText:nth-of-type(1){
    margin-bottom: 10px;
}

.non_Response_Nav ul li:active {
    background-color: rgba(255, 255, 255, 0.171);
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}

.carusel_Img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

small {
    display: flex;
    align-items: center;
    font-size: 11px;
    margin: 0 0 8px;
}

small::before {
    content: '---';
    margin-right:5px;
}

.carusel_Box_Control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.carusel_Img {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card_Carusel {
    width: 33.3333%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.carusel_control {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 30px;
    margin: 0 0 20px;
    border-left: 4px solid rgba(0, 0, 0, 0.096);
}

.carusel_control p {
    font-size: 12px;
    color: #333;
    line-height: 17px;
    display: flex;
    text-overflow: ellipsis;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

.carusel_control p span {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    text-overflow: ellipsis;
}

.carusel_control p img {
    width: 100%;
    margin: 5px 0;
    padding-right: 10px;
}

.btnControl {
    position: absolute;
    height: 300px;
    border: none;
    background-color: transparent;
    font-size: 50px;
    cursor: pointer;
    color: rgba(51, 51, 51, 0.692);
}

.btnControl:hover {
    color: #333;
}

.left_ControlBtn {
    left: -20px;
}
.right_ControlBtn {
    right: -20px;
}

.video_carusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video_carusel .left_ControlBtn {
    left: 270px;
}

.video_carusel .right_ControlBtn {
    right: 270px;
}

.text-center {
    padding: 10px 0;
}

.text-center a {
    padding: 10px 20px;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.75);
    font-size: 12px;
    text-decoration: none;
    box-shadow: 0 -2px 0 0 rgb(0 0 0 / 25%) inset;
}

.section-control {
    padding: 70px 0;
}

.video_Box {
    width: 560px;
    height: 325px;
}

.video_Box iframe {
    width: 100%;
    height: 100%;
}

.video_Box img {
    width: 100%;
    height: 100%;
}

.hospital_partner {
    background: #1371a1 url(https://static.bookinghealth.com/i/img/s_back.webp) repeat scroll 0 0/cover;
    color: #fff;
    padding: 7px 0 30px;
}

.hospital_partner button {
    color: #89B8D0;
    font-size: 28px;
}

.hospital_partner button:hover {
    color: #fff;
}

.hospital_buildings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 20px;
}

.hospital_owerflov {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hospital_Box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hospital_little {
    width: 25%;
    padding: 0 15px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title_building {
    height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    margin: 10px 0;
}

.hospital_little a {
    width: 100%;
    height: 230px;
    text-decoration: none;
    color: #fff;
}

.hospital_little a img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.search_Hospital {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.search_Hospital a {
    font-size: 14px;
    padding: 12px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 -2px 0 0 rgb(0 0 0 / 25%) inset;
    color: #333;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search_Hospital a:active {
    background-color: rgb(202, 189, 189);
    transition: background 0.4s linear;
    -webkit-transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -ms-transition: background 0.4s linear;
    -o-transition: background 0.4s linear;
}

.info_main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.info_main > div {
    width: 50%;
    padding: 0 20px;
}

.info_main > div:nth-last-of-type(2):hover {
    cursor: pointer;
}

.info_little_control p {
    margin: 0 0 10px;
}

.video_Info {
    width: 100%;
}

.video_Info img {
    width: 100%;
}

.info_H2 {
    font-size: 25px;
    margin: 26px 0;
    color: #333;
    font-weight: 500;
    padding-right: 100px;
    line-height: 35px;
}

.all_text_P p {
    text-align: justify;
    font-size: 15px;
    color: #333;
}

.yearOfControl {
    list-style: none;
}

.yearOfControl li {
    position: relative;
    margin: 0 0 0 5px;
    padding: 0 15px 5px 30px;
    border-left: 2px solid #1371a1;
    border-top: 1px dashed #1371a1;
}

.yearOfControl li div:nth-last-of-type(2) {
    width: 110px;
    font-size: 28px;
    color: #1371a1;
    background-color: #fff;
    margin: -24px 0 5px;
    padding: 15px;
}

.yearOfControl li div:nth-last-of-type(1) {
    font-size: 18px;
    color: #767676;
    margin: 0 0 15px;
    line-height: 28px;
}

.yearOfControl li:hover {
    background-color: rgba(224, 224, 224, 0.781) ;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.yearOfControl li:hover > div:nth-last-of-type(2) {
    background-color: rgba(224, 224, 224, 0.781) ;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.yearOfControl li::before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 14px;
    height: 14px;
    border: 1px solid #1371a1;
    background-color: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.bold_Text {
    font-weight: 900;
}

.pro_Big_Text {
    text-align: center;
    color: #fff;
    padding: 7px;
    margin: 26px 0;
    font-size: 26px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background: #1371a1 url(https://static.bookinghealth.com/i/img/s_back.png) repeat scroll 0 0 / cover;
}

.like_Info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
}

.like_Info:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.like_Info > div {
    width: 33.333%;
    padding: 0 15px;
}

.like_Info > div > div {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: left;
    font-weight: 700;
}

.fa-check-circle {
    border-radius: 100%;
    background-color: #1a9c1e;
    color: #fff;
    font-size: 25px;
    margin-left: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.fa-minus-circle {
    font-size: 25px;
    margin-left: 6px;
    color: #f55145;
}

.like_Info > div > p {
    text-align: justify;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.d_label {
    height: 48px;
}

.hospital_advantages {
    padding: 25px 0 30px;
    background-image: url(https://static.bookinghealth.com/i/img/adw_bg.jpg);
}

.advantages_Box {
    width: 100%;
    display: flex;
    align-items: center;
}

.advantages_Box > div {
    width: 33.333%;
    min-height: 226px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 25px;
    padding: 0 15px;
    text-align: center;
    color: #333;
    font-size: 14px;
    background-color: #ffffffb3;
}

.advantages_Box > div:nth-of-type(2) {
    border-right: 1px solid #1371a1;
    border-left: 1px solid #1371a1;
}

.advantages_Box > div > i {
    font-size: 55px;
    margin: 30px 0 25px;
    color: rgba(51, 51, 51, 0.733);
}

.hospital_question {
    background-color: #eeeeee;
}

.hospital_question > div {
    text-align: center;
    color: #333;
}

.fa-comments-alt {
    font-size: 65px;
}

.mainQuestionText {
    margin: 26px 0;
    font-size: 25px;
    font-weight: 500;
}

.hospital_question > div > p {
    font-size: 14px;
    margin: 0 0 10px;
}

.start_phone {
    font-size: 26px;
    margin: 15px 0;
}

.start_location {
    font-size: 19px;
    margin: 10px 0;
}

.send_question {
    color: #fff;
    background: -webkit-linear-gradient(top,#578ebf,#3f78ab);
    padding: 12px 30px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 3px 3px 7px 0 rgb(64 121 171 / 50%), inset 0 -3px 0 0 #326089;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.send_question:hover {
    transition: background 0.4s linear;
    background: #46b8da;
    -webkit-transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -ms-transition: background 0.4s linear;
    -o-transition: background 0.4s linear;
}

.hospital_All_Info_Section {
    padding: 25px 0 70px;
}

.hospital_All_Info_Section h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 24px 0;
}

.text_discription {
    position: relative;
    font-size: 14px;
    color: #333;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.text_discription_before::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
}



.text_Non_discription {
    display: -webkit-box;
    -webkit-line-clamp: unset;
    -webkit-box-orient: vertical;  
    overflow: visible;
}

.text_discription ol, ul, p {
    margin-bottom: 10px;
    line-height: 20px;
}

.text_discription ol, ul {
    padding: 0 0 0 40px;
}

.big_span {
    padding: 5px 0;
    position: relative;
    cursor: pointer;
    color: #1371a1;
    font-size: 15px;
}

.big_span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    border-bottom: 1px solid #1371a1;
}

.button_Text_overflow {
    margin: 0 15px;
}



@media screen and (max-width:1270px) {
    .container {
        width: 100%;
    }

    .header_Content {
        padding: 0 30px;
    }

    .pro_control {
        margin: 0 30px;
    }

    .footer_response {
        padding: 0 30px;
    }
}


@media screen and (max-width:1300px) {

    .history_Of_Rating .mark_Main {
        margin: 0 20px;
    }

    .carusel_control {
        padding: 10px 25px;
    }
}

@media screen and (max-width:1200px)  {

    /* .header_Content {
        padding: 0 30px;
    } */
    
    /* .container {
        width: 100%;
    } */

    .text-center a {
        padding: 5px 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
          text-overflow: ellipsis;
    }
    
    .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .clinic_Middle h2 {
        margin-top: 70px;
        padding: 0 20px;
        text-align: center;
        font-size: 30px;
    }

    nav ul li {
        font-size: 14px;
    }

    nav ul li:nth-of-type(6) {
        margin-left: 15px;
    }

    .height_Response {
        width: 270px;
        height: 300px;
        margin: 20px 0;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }

    .video_carusel button:nth-of-type(1) {
        left: 150px;
    }

    .video_carusel button:nth-of-type(2) {
        right: 150px;
    }

    .info_main > div:nth-last-of-type(2):hover {
        cursor: none;
    }

    .like_Info:hover {
        cursor: none;
    }

}

@media (max-width:990px)  {

    .footer_response {
        padding: 0;
    }

    .footer_information {
        flex-wrap: wrap;
    }

    .footer_information > div {
        width: 25%;
    }

    .footer_information > div > p > a {
        white-space: nowrap;
    }

    .footer_information > div:nth-of-type(4) {
        padding-top: 25px;
        margin-left: 10px;
    }
    .footer_information > div:nth-of-type(5) {
        padding-top: 10px;
        margin-left: 30px;
    }

    .copy_info {
        margin: 5px 15px;
    }

    .advantages_Box {
        flex-direction: column;
    }

    .advantages_Box > div {
        width: 100%;
    }

    .advantages_Box > div:nth-of-type(2) {
        border: none;
    }


    .like_Info {
        flex-direction: column;
    }

    .pro_control {
        margin: 0;
    }

    .like_Info > div {
        width: 100%;
    }

    .text-center a {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_main {
        flex-direction: column;
    }

    .info_main > div {
        width: 100%;
    }

    .info_main > div:nth-of-type(2) {
        margin-top: 40px;
    }

    .info_H2 {
        padding: 0;
    }

    .Ba_Img, .Ba_Img2 {
        display: none;
    }

    .section-control {
        padding: 25px 0;
    }

    .headerMain {
        background-image: url(https://previews.123rf.com/images/leventegyori/leventegyori1506/leventegyori150600144/41664052-doctor-con-el-fondo-m%C3%A9dico.jpg);

        background-size: cover;
        height: 75vh;
    }

    .popularText {
        color: inherit;
        font-size: 27px;
    }

    .headerMain::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.418);
    }

    .header_Content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 35px;
        margin: 0;
    }

    .container {
        width: 80%;
    }

    .rowGreen {
        width: 100%;
    }

    .card {
        margin: 10px 0;
        width: 100%;
        padding: 18px;
        height: 70px;
        overflow-y: hidden;
        padding: 0;
        transition: 0.5s linear;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        -o-transition: 0.5s linear;
}

    .card-body {
        padding: 0 25px;
    }

    .ill_Name_Menu {
        margin: 25px 0;
        margin-bottom: 30px;
    }

    .second_Response {
        height: 90px;
    }

    .ill_Name_Menu .menu_Icon {
        display: block;
        font-size: 20px;
    }

    .card-body ul {
        margin: 15px 0;
    }

    .name_response {
        font-size: 21px;
        padding-bottom: 15px;
    }

    .card-body ul li {
        list-style: none;
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 500;
        border-bottom: 1px solid rgba(136, 119, 119, 0.295);
    }

    .headerH .logo h1 {
        font-size: 23px;
        font-weight: 600;
    }   

    .headerH .logo h2 {
        font-size: 20px;
        font-weight: 600;
        top: 20px;
        left: 75px;
    }
    
    .headerScroll h1 {
        font-size: 25px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
}
    .headerScroll h2 {
        font-size: 23px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }

    .non_Response_Nav {
        display: none;
    }

    
    .humburger_Nav {
        display: block;
        
    }

    .humburger_Nav span {
        padding: 10px;
        font-size: 23px;
        cursor: pointer;
    }


    .humburger_checked {
        height: auto;
        transition: 0.5s linear;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        -o-transition: 0.5s linear;
}

.history_Of_Rating .mark_Main {
    margin: 0;
}

.card_Carusel {
    
    margin: 20px 0;
}

.btnControl {
    display: none;
}

.carusel_control {
    padding: 10px;
}

    .carusel_Img {
        flex-direction: column;
    }

    .carusel_Img > div {
        width: 100%;
    }

    .carusel_control p img {
        width: 100%;
    }

    .hospital_owerflov {
        width: 100%;
    }

    .hospital_Box {
        width: 100%;
        flex-direction: column;
    }

    .hospital_little {
        width: 100%;
    }

    .search_Hospital {
        margin-top: 10px;
    }

}


@media screen and (max-width:770px)  {

    * {
        cursor: none;
    }

    .footer_information {
        flex-direction: column;
    }

    .footer_information > div:nth-of-type(3) {
        padding-left: 25px !important;
        padding-top: 25px !important;
    }

    .footer_information > div:nth-of-type(4) {
        padding-left: 25px;
        padding-top: 25px;
        margin: 0;
    }

    .footer_information > div:nth-of-type(5) {
        padding-left: 25px;
        padding-top: 25px;
        margin: 0;
    }

    .footer_information > div {
        width: 90% !important;
    }

    .copy_info {
        width: 90%;
        padding: 10px 25px;
    }

    .yearOfControl {
        padding: 0;
    }

    .pro_Big_Text {
        margin: 26px 15px;
    }

    .hospital_information {
        padding-top: 70px;
    }

    .section {
        margin-top: -70px;
    }

    .headerMain {
        height: 67vh;
    }

    .section {
        margin-top: -70px;
    }

    .hospital_information .popularText {
        display: none;
    }

    .info_H2 {
        line-height: 28px;
        font-size: 23px;
    }

    .sectionContainer {
        padding: 0 10px;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .popularSection .container {
        margin: 0;
        padding: 0;
    }
    
    .header_Content {
        padding: 0 20px;
    }

    .headerH {
        background-color: rgba(0, 0, 0, 0.39);
    }

    .headerScroll {
        width: 100%;
        margin: 0 0 20px;
        padding: 13px 0;
        background-color: rgba(0, 0, 0, 0.822);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.5 ease;
        -webkit-transition: 0.5 ease;
        -moz-transition: 0.5 ease;
        -ms-transition: 0.5 ease;
        -o-transition: 0.5 ease;
        color: #fff;
    }

    .clinic_Middle {
        margin-top: 0;
    }

    .clinic_Middle h2 {
        margin-top: 0;
        font-size: 25px;
    }

    .search_Form {
        width: 95vw;
    }

    .search_Form button {
        padding: 10px 25px;
    }

    .certificate {
        margin-top: 50px;
    }

}


@media screen and (max-width:620px) {
    .video_Box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video_Box img {
        width: 95%;
    }
}


@media screen and (max-width:545px)  {
    
    .clinic_Envelope h3 {
        font-size: 19px;
    }

    .hospital_buildings {
        margin: 0;
    }

}

@media screen and (max-width:480px)  {
    
    .rowGreen {
        padding: 0 5px;
    }

}

/* @media screen and (max-width:360px) {
    .response_third {
        height: 80px;
    }

    .response_third  .ill_Name_Menu {
        margin: 20px 0;
    }
} */


