* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.headerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 87vh;
    background: linear-gradient(
        180deg
        ,rgb(20,37,133), #00d6cf);
    background-attachment: fixed;
    color: #fff;
    /* color: #142585; */
}

.clinic_Middle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
    margin-bottom: 30px;
}

.clinic_Middle h2 {
    font-size: 35px;
    font-weight: bold;
    /* color: rgb(20,37,133); */
    color: #fff;
    margin-top: 100px;
}

.contentSpan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin: 25px 0;
}

.clinic_Envelope {
    position: relative;
    padding: 10px 35px;
    background-color: rgb(20,37,133);
    display: flex;
    align-items: center;
    justify-content: center;
}


.clinic_Envelope h3 {
    margin: 0;
    font-size: 22px;
    color: #fff;
}

.degree {
    color: rgb(20,37,133);
    font-size: 85px;
    margin-top: 1px;
}


.search_Form {
    width: 600px;
    margin-top: 0 40px;
    padding: 0 20px;
    border: 2px solid rgb(20,37,133);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;

}

.search_Form input {
    width: 100%;
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

.searchButton::placeholder {
    color: rgb(221, 221, 221);
    font-size: 17px;
}

.search_Form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search_Form button i {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}


.certificate {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    cursor: pointer;
    margin-top: 100px;
}

.certificate:hover {
    text-decoration: underline 2px solid #fff;
}

.fa-file-certificate {
    font-size: 30px;
}

.sectionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.section {
    width: 100%;
    padding: 50px 0;
    box-shadow: 0 0 30px rgb(204, 204, 204);
    margin-top: -70px;
    z-index: 50;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 270px;
    height: 300px;
    margin: 20px 0;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.card:hover {
    background-color: rgba(243, 243, 243, 0.781);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.card-direction {
    border-left: 7px solid red !important;
}

.secondType {
    height: 195px;
}

.popularText {
    text-align: center;
    margin: 45px 0 20px;
    font-size: 35px;
    font-weight: 500;
}

.card-body {
    padding: 20px;
    text-overflow: ellipsis;
}


.card-body a {
    color: #333;
    text-decoration: none;
}

.card-body p {
    font-size: 14px;
    margin-top: 10px;
}

.nameToConrent {
    font-size: 19px;
    font-weight: 500;
}

.textC1 {
    font-size: 13px;
}

.card-body a:hover {
    text-decoration: underline;
    color: #333;
}

.card-body ul {
    margin: 15px 0 15px 30px;
}

.card-body ul li {
    font-size: 14px;
    line-height: 19px;
}

.textIll {
    font-size: 14px;
}

.ill_Name_Menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Ba_Img {
    display: none;
    width: 300px;
    position: absolute;
    left: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.Ba_Img2 {
    display: none;
    width: 300px;
    position: absolute;
    right: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.menu_Icon {
    cursor: pointer;
    display: none;
}

.fa-star {
    color: #fff;
}

.humburger_Nav {
    display: none;
}

.non_Response_Nav ul li:active {
    background-color: rgba(255, 255, 255, 0.171);
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}


@media screen and (max-width:1200px)  {
    
    .header_Content {
        padding: 0 30px;
    }

    .container {
        width: 100%;
    }
    
    .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .clinic_Middle h2 {
        margin-top: 30px;
        padding: 0 20px;
        text-align: center;
        font-size: 30px;
    }


}


@media screen and (max-width:990px)  {


    .headerH {
        padding: 15px 0;
    }

    .headerH .logo h1 {
        font-size: 23px;
        font-weight: 600;
    }   

    .headerH .logo h2 {
        font-size: 20px;
        font-weight: 600;
        top: 20px;
        left: 75px;
    }
    
    .headerScroll h1 {
        font-size: 25px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
}
    .headerScroll h2 {
        font-size: 23px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }

    .non_Response_Nav {
        display: none;
    }

    
    .humburger_Nav {
        display: block;
        
    }

    .humburger_Nav span {
        padding: 10px;
        font-size: 23px;
        cursor: pointer;
    }

}


@media screen and (max-width:770px)  {
    
    .header_Content {
        padding: 0 10px;
    }

    .headerH {
        background-color: rgba(0, 0, 0, 0.39);
    }

    .headerScroll {
        width: 100%;
        margin: 0 0 20px;
        padding: 13px 0;
        background-color: rgba(0, 0, 0, 0.822);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.5 ease;
        -webkit-transition: 0.5 ease;
        -moz-transition: 0.5 ease;
        -ms-transition: 0.5 ease;
        -o-transition: 0.5 ease;
        color: #fff;
    }

    .clinic_Middle {
        margin-top: 0;
    }

    .clinic_Middle h2 {
        margin-top: 0;
        font-size: 25px;
    }

    .search_Form {
        width: 95vw;
    }

    .search_Form button {
        padding: 10px 25px;
    }

    .certificate {
        margin-top: 50px;
    }

}


@media screen and (max-width:545px)  {
    
    .clinic_Envelope h3 {
        font-size: 19px;
    }

}

@media screen and (max-width:480px)  {
    


}
