img {
    object-fit: cover;
}

.swiper {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxOfVideo {
    width: 560px;
    height: 315px; 
    position: relative;
}

.video_swiper > div > div > .swiper-slide {
    justify-content: center;
}

.boxOfVideo img {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.boxOfVideo iframe {
    width: 100%;
    height: 100%;
    display: none;
}

.hospital_buildings .btn_hospital {
    color: rgb(255, 255, 255);
}

.hospital_buildings {
    position: relative;
}
